@media(max-width: 768px) {}

@media(min-width: 1500px) {}

header {
  width: 100%;
  height: 10%;
  background-color: white;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
}

li {
  text-decoration: none;

}

.logo {
  width: 5%;
  padding: 2%;
}

.logo:hover {
  color: white;
  opacity: 0.5;
}

.nav {
  margin-top: 0%;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  font-size: 50px;
}

.header-nav__item1 {
  box-sizing: border-box;
  margin-right: 3%;
  margin-top: -6%;
  font-size: 30%;
  text-decoration: none;
}

.header-nav__item1:hover {
  color: white;
  opacity: 0.5;
}

.header-nav__item2 {
  box-sizing: border-box;
  margin-right: 3%;
  margin-top: -6%;
  font-size: 30%;
  text-decoration: none;
}

.header-nav__item2:hover {
  color: white;
  opacity: 0.5;
}

.header-nav__item3 {
  box-sizing: border-box;
  margin-right: 3%;
  margin-top: -6%;
  font-size: 30%;
  text-decoration: none;
}

.header-nav__item3:hover {
  color: white;
  opacity: 0.5;
}

.header-nav__item4 {
  box-sizing: border-box;
  margin-right: 3%;
  margin-top: -6%;
  font-size: 30%;
  text-decoration: none;
}

.header-nav__item4:hover {
  color: white;
  opacity: 0.5;
}

.header-nav__item5 {
  box-sizing: border-box;
  margin-right: 3%;
  margin-top: -6%;
  font-size: 30%;
  text-decoration: none;
}

.header-nav__item5:hover {
  color: white;
  opacity: 0.5;
}

.header-nav__item6 {
  box-sizing: border-box;
  margin-right: 3%;
  margin-top: -6%;
  font-size: 30%;
  text-decoration: none;
}

.header-nav__item6:hover {
  color: white;
  opacity: 0.5;
}

.header-nav__item7 {
  box-sizing: border-box;
  margin-right: 1%;
  margin-top: -6%;
  font-size: 30%;
  text-decoration: none;
}

.header-nav__item7:hover {
  color: white;
  opacity: 0.5;
}

.group {
  background: url(../img/mv.png) no-repeat;
  background-size: cover;
  width: 100%;
  box-sizing: border-box;
  padding: 10%;
}

.font-size {
  text-align: center;
  font-weight: bold;
  box-sizing: border-box;
  padding: 20%;
  margin-top: 5%;
  color: white;
  font-size: 2em;
}

.group_2 {
  width: 80%;
  padding: 10%;
}

.position1 {
  position: relative;
}

.position1::before {
  position: absolute;
  content: "";
  display: block;
  width: 80%;
  height: 1px;
  background-color: black;
  top: -30%;
  left: 10%;
}

.text1 {
  box-sizing: border-box;
  padding: 1%;
  margin-left: 15%;
  font-size: large;
}

.main_text1 {
  box-sizing: border-box;
  margin-right: 10%;
  font-weight: bold;  
}

.position2 {
  position: relative;
}

.position2::before {
  position: absolute;
  content: "";
  display: block;
  width: 80%;
  height: 1px;
  background-color: black;
  top: -30%;
  left: 10%;
}

.text2 {
  box-sizing: border-box;
  padding: 1%;
  margin-top: 2%;
    margin-left: 15%;
  font-size: large;
}

.main_text2 {
  box-sizing: border-box;
  margin-right: 10%;
  font-weight: bold;
}

.position3 {
  position: relative;
}

.position3::before {
  position: absolute;
  content: "";
  display: block;
  width: 80%;
  height: 1px;
  background-color: black;
  top: -30%;
  left: 10%;
}

.text3 {
  box-sizing: border-box;
  padding: 1%;
  margin-top: 2%;
  margin-left: 15%;
  font-size: large;
}

.main_text3 {
  box-sizing: border-box;
  margin-right: 10%;
  font-weight: bold;
}

.position4 {
  position: relative;
}

.position4::before {
  position: absolute;
  content: "";
  display: block;
  width: 80%;
  height: 1px;
  background-color: black;
  top: -30%;
  left: 10%;
}

.text4 {
  box-sizing: border-box;
  padding: 1%;
  margin-top: 2%;
  margin-left: 15.5%;
  font-size: large;
}

.main_text4 {
  box-sizing: border-box;
  margin-right: 10%;
  padding-right: 1%;
  font-weight: bold;
}

.position5 {
  position: relative;
}

.position5::before {
  position: absolute;
  content: "";
  display: block;
  width: 80%;
  height: 1px;
  background-color: black;
  top: -30%;
  left: 10%;
}

.text5 {
  box-sizing: border-box;
  padding: 1%;
  margin-top: 2%;
  margin-left: 14.5%;
  font-size: large;
}

.main_text5 {
  box-sizing: border-box;
  margin-right: 8.8%;
  font-weight: bold;
}

.position6 {
  position: relative;
}

.position6::before {
  position: absolute;
  content: "";
  display: block;
  width: 80%;
  height: 1px;
  background-color: black;
  bottom: -50%;
  left: 10%;
}

.position6::after {
  position: absolute;
  content: "";
  display: block;
  width: 80%;
  height: 1px;
  background-color: black;
  top: -30%;
  left: 10%;
}

.text6 {
  box-sizing: border-box;
  padding: 1%;
  margin-top: 2%;
  margin-left: 15%;
  font-size: large;
}

.main_text6 {
  box-sizing: border-box;
  margin-right: 10%;
  font-weight: bold;
}

.group_6 {
  width: 100%;
  background: #DCDCDC;
  padding-bottom: 3%;
}

.information_ttl {
  box-sizing: border-box;
  font-weight: bold;
  text-align: center;
  padding-top: 3%;
  font-size: 2em;
}

.information_subttl {
  box-sizing: border-box;
  text-align: center;
  padding-top: 2%;
}

.contact_btn {
  box-sizing: border-box;
  display: block;
  width: 24%;
  padding: 1% 1.5%;
  margin-left: 38%;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  text-decoration: none;
  background-color: red;
  color: white;
  font-size: 1em;
  font-weight: bold;
}

.footer {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 1.2em;
}

.footer-inner {
  display: flex;
  justify-content: space-around;
  font-size: 70%;
}

.copyright {
  padding: 2%;
}

.footer-nav {
  position: relative;
}

.footer-nav-list {
  display: flex;
  width: 100%;
}

.footer-nav-item1 {
  width: 70px;
  padding-top: 4%;
  padding-left: 0.5%;
}

.footer-nav-item1:hover {
  color: white;
  opacity: 0.5;
}

.footer-nav-item1::after {
  content: "";
  display: inline-block;
  width: 3px;
  height: 33%;
  background-color: white;
  position: absolute;
  top: 39%;
  left: 11%;
}

.footer-nav-item2 {
  width: 90px;
  padding-top: 4%;
  padding-left: 0.5%;
}

.footer-nav-item2:hover {
  color: white;
  opacity: 0.5;
}

.footer-nav-item2::after {
  content: "";
  display: inline-block;
  width: 3px;
  height: 18px;
  background-color: white;
  position: absolute;
  top: 39%;
  left: 24%;
}

.footer-nav-item3 {
  width: 80px;
  padding-top: 4%;
  padding-left: 0.5%;
}

.footer-nav-item3:hover {
  color: white;
  opacity: 0.5;
}

.footer-nav-item3::after {
  content: "";
  display: inline-block;
  width: 3px;
  height: 18px;
  background-color: white;
  position: absolute;
  top: 39%;
  left: 37%;
}

.footer-nav-item4 {
  width: 110px;
  padding-top: 4%;
  padding-left: 0.5%;
}

.footer-nav-item4:hover {
  color: white;
  opacity: 0.5;
}

.footer-nav-item4::after {
  content: "";
  display: inline-block;
  width: 3px;
  height: 18px;
  background-color: white;
  position: absolute;
  top: 39%;
  left: 53%;
}

.footer-nav-item5 {
  width: 90px;
  padding-top: 4%;
  padding-left: 0.5%;
}

.footer-nav-item5:hover {
  color: white;
  opacity: 0.5;
}

.footer-nav-item5::after {
  content: "";
  display: inline-block;
  width: 3px;
  height: 18px;
  background-color: white;
  position: absolute;
  top: 39%;
  left: 67%;
}

.footer-nav-item6 {
  width: 90px;
  padding-top: 4%;
  padding-left: 0.5%;
}

.footer-nav-item6:hover {
  color: white;
  opacity: 0.5;
}

.footer-nav-item6::after {
  content: "";
  display: inline-block;
  width: 3px;
  height: 18px;
  background-color: white;
  position: absolute;
  top: 39%;
  left: 81%;
}

.footer-nav-item7 {
  width: 130px;
  padding-top: 4%;
  padding-left: 0.5%;
}

.footer-nav-item7:hover {
  color: white;
  opacity: 0.5;
}