header {
  width: 100%;
  height: 10%;
  background-color: white;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
}

a {
  text-decoration: none;
}

.logo {
  width: 5%;
  padding: 2%;
}

.logo:hover {
  color: white;
  opacity: 0.5;
}

.menu {
  display: inline-block;
  width: 36px;
  height: 32px;
  cursor: pointer;
  position: fixed;
  left: 95%;
  top: 2%;
}

.menu_position {
  position: relative;
  z-index: 30;
}

.menu__line--top,
.menu__line--middle,
.menu__line--bottom {
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #000;
  position: absolute;
  transition: 0.5s;
}

.menu__line--top {
  top: 0;
}

.menu__line--middle {
  top: 15px;
}

.menu__line--bottom {
  top: 30px;
}

.menu.open span:nth-of-type(1) {
  top: 14px;
  transform: rotate(45deg);
}

.menu.open span:nth-of-type(2) {
  opacity: 0;
}

.menu.open span:nth-of-type(3) {
  top: 14px;
  transform: rotate(-45deg);
}

.disply {
  position: absolute;
  background: white;
  width: 100%;
  height: 100vh;
  left: -100%;
  padding-top: 10%;
  transition: .7s;
  text-align: center;
  font-size: 1.5em;
  line-height: 350%;
  z-index: -1;
}

.in {
  transform: translateX(100%);
}

.nav {
  margin-top: 0%;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  font-size: 50px;
}

.header-nav__item1 {
  box-sizing: border-box;
  margin-right: 3%;
  margin-top: -6%;
  font-size: 30%;
  text-decoration: none;
  color: black;
  color: inherit;
}

.header-nav__item1:hover {
  color: white;
  opacity: 0.5;
}

.header-nav__item1 a:visited {
  color: black;
}

.header-nav__item2 {
  box-sizing: border-box;
  margin-right: 3%;
  margin-top: -6%;
  font-size: 30%;
  text-decoration: none;
  color: black;
}

.header-nav__item2:hover {
  color: white;
  opacity: 0.5;
}

.header-nav__item2 a:visited {
  color: black;
}

.header-nav__item3 {
  box-sizing: border-box;
  margin-right: 3%;
  margin-top: -6%;
  font-size: 30%;
  text-decoration: none;
  color: black;
}

.header-nav__item3:hover {
  color: white;
  opacity: 0.5;
}

.header-nav__item3 a:visited {
  color: black;
}

.header-nav__item4 {
  box-sizing: border-box;
  margin-right: 3%;
  margin-top: -6%;
  font-size: 30%;
  text-decoration: none;
  color: black;
}

.header-nav__item4:hover {
  color: white;
  opacity: 0.5;
}

.header-nav__item4 a:visited {
  color: black;
}

.header-nav__item5 {
  box-sizing: border-box;
  margin-right: 3%;
  margin-top: -6%;
  font-size: 30%;
  text-decoration: none;
  color: black;
}

.header-nav__item5:hover {
  color: white;
  opacity: 0.5;
}

.header-nav__item5 a:visited {
  color: black;
}

.header-nav__item6 {
  box-sizing: border-box;
  margin-right: 3%;
  margin-top: -6%;
  font-size: 30%;
  text-decoration: none;
  color: black;
}

.header-nav__item6:hover {
  color: white;
  opacity: 0.5;
}

.header-nav__item6 a:visited {
  color: black;
}

.header-nav__item7 {
  box-sizing: border-box;
  margin-right: 1%;
  margin-top: -6%;
  font-size: 30%;
  text-decoration: none;
  color: black;
}

.header-nav__item7:hover {
  color: white;
  opacity: 0.5;
}

.header-nav__item7 a:visited {
  color: black;
}

@media screen and (min-width: 768px) {

  .menu,
  .nav2,
  .manu__line--top,
  .menu__line--middle,
  .menu__line--bottom {
    display: none;
  }

  .header-nav {}
}

@media screen and (max-width: 1500px) {

  .menu,
  .nav2,
  .manu__line--top,
  .menu__line--middle,
  .menu__line--bottom,
  .header-nav2 {
    display: inline-block;
  }

  .header-nav {
    display: none;
  }
}
.group {
  background: url(../img/mv.png) no-repeat;
  background-size: cover;
  width: 100%;
  box-sizing: border-box;
  padding-top: 15%;
  padding-bottom: 15%;
}

.font-size {
  text-align: center;
  font-weight: bold;
  box-sizing: border-box;
  padding: 20%;
  margin-top: 5%;
  color: white;
  font-size: 2em;
}

.form_position {
  box-sizing: border-box;
  width: 100%;
  padding-top: 10%;
  padding-left: 20%;
}

.form_text {
  font-size: 1.5em;
  padding-bottom: 5%;
  font-weight: bold;
  line-height: 150%;
}

.type_width {
  width: 80%;
  padding: 0.5%;
}

.font_color {
  color: #DC143C;
}

.type_width_textarea {
  width: 80%;
  resize: none;
  padding: 0.5%;
}

.contact_btn {
  box-sizing: border-box;
  display: block;
  width: 24%;
  padding: 1% 1.5%;
  margin-left: 38%;
  margin-top: 2%;
  margin-bottom: 5%;
  text-align: center;
  text-decoration: none;
  background-color: black;
  color: white;
  font-size: 1em;
  font-weight: bold;
}

.footer {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 1.2em;
}

.footer-inner {
  display: flex;
  justify-content: space-around;
  font-size: 70%;
}

.copyright {
  padding: 2%;
}

.footer-nav {
  position: relative;
}

.footer-nav-list {
  display: flex;
  width: 100%;
}

.footer-nav-item1 {
  width: 70px;
  padding-top: 4%;
  padding-left: 0.5%;
  color: white;
}

.footer-nav-item1:hover {
  color: white;
  opacity: 0.5;
}

.footer-nav-item1 a:visited {
  color: white;
}

.footer-nav-item1::after {
  content: "";
  display: inline-block;
  width: 3px;
  height: 33%;
  background-color: white;
  position: absolute;
  top: 39%;
  left: 11%;
}

.footer-nav-item2 {
  width: 90px;
  padding-top: 4%;
  padding-left: 0.5%;
  color: white;
}

.footer-nav-item2:hover {
  color: white;
  opacity: 0.5;
}

.footer-nav-item2 a:visited {
  color: white;
}

.footer-nav-item2::after {
  content: "";
  display: inline-block;
  width: 3px;
  height: 33%;
  background-color: white;
  position: absolute;
  top: 39%;
  left: 24%;
}

.footer-nav-item3 {
  width: 80px;
  padding-top: 4%;
  padding-left: 0.5%;
  color: white;
}

.footer-nav-item3:hover {
  color: white;
  opacity: 0.5;
}

.footer-nav-item3 a:visited {
  color: white;
}

.footer-nav-item3::after {
  content: "";
  display: inline-block;
  width: 3px;
  height: 33%;
  background-color: white;
  position: absolute;
  top: 39%;
  left: 37%;
}

.footer-nav-item4 {
  width: 110px;
  padding-top: 4%;
  padding-left: 0.5%;
  color: white;
}

.footer-nav-item4:hover {
  color: white;
  opacity: 0.5;
}

.footer-nav-item4 a:visited {
  color: white;
}

.footer-nav-item4::after {
  content: "";
  display: inline-block;
  width: 3px;
  height: 33%;
  background-color: white;
  position: absolute;
  top: 39%;
  left: 53%;
}

.footer-nav-item5 {
  width: 90px;
  padding-top: 4%;
  padding-left: 0.5%;
  color: white;
}

.footer-nav-item5:hover {
  color: white;
  opacity: 0.5;
}

.footer-nav-item5 a:visited {
  color: white;
}

.footer-nav-item5::after {
  content: "";
  display: inline-block;
  width: 3px;
  height: 33%;
  background-color: white;
  position: absolute;
  top: 39%;
  left: 67%;
}

.footer-nav-item6 {
  width: 90px;
  padding-top: 4%;
  padding-left: 0.5%;
  color: white;
}

.footer-nav-item6:hover {
  color: white;
  opacity: 0.5;
}

.footer-nav-item6 a:visited {
  color: white;
}

.footer-nav-item6::after {
  content: "";
  display: inline-block;
  width: 3px;
  height: 33%;
  background-color: white;
  position: absolute;
  top: 39%;
  left: 81%;
}

.footer-nav-item7 {
  width: 130px;
  padding-top: 4%;
  padding-left: 0.5%;
  color: white;
}

.footer-nav-item7:hover {
  color: white;
  opacity: 0.5;
}

.footer-nav-item7 a:visited {
  color: white;
}